<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/weather.css" rel='stylesheet' />
  </head>
  <body>
    <div class="container1">
      <ul id="ul1">
        <li><a href="/">Home</a>
        </li>
        <li>
          <a href='/weather'>Current</a>
        </li>
        <li><a id='forcast' href='/Forcast'>Forcast</a>
        </li>
        <li><a href="/About">About</a>
        </li>
      </ul>
    </div>
    <div class="container">
      <p>
        <%= temp %>
      </p>
    </div>
  </body>
</html>
